<component name="libraryTable">
  <library name="spring-web-3.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-web/3.2.4.RELEASE/jar/8daf0bd1172cb253d93611adadfa0462935d760d/spring-web-3.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-web/3.2.4.RELEASE/source/64a18f9ab380dff61216a1f9ec12773c2868ab2a/spring-web-3.2.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>